* {
  margin: 0px;
  padding: 0px;
}

.paginationBttns {
  /* width :80%; */
  height: 40px;
  margin: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: #086288;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #faa81d;
  color: #086288;
  /* color: #FAA81D; */
  cursor: pointer;
}
.paginationBttns a:hover {
  color: #086288;
  background-color: #faa81d;
}
.paginationActive a {
  /* color :white; */
  background-color: lightblue;
}

#uploadquestions {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #086288;

  padding: 20px;
  margin-left: -25px;
}

#navbars {
  position: sticky;
  top: 0;

  background-color: #fff;
}

#iconsfontawesome {
  /* margin-left: -18px; */
  transform: translateX(-30px);
}
